%text-input {
  display: flex;
  align-items: center;

  padding: 10px;
  padding-left: 12px;
  border: unset;
  border-radius: 20px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);

  appearance: unset;
  background-color: var(--color-black);
  outline: none;
  box-shadow: 0 0 0 1px var(--color-white-10);

  &::placeholder {
    opacity: 0.6;
  }

  &:focus-visible,
  &:focus {
    box-shadow: 0 0 0 3px var(--color-violet-10);
  }
}
