<header class="header">
  <div class="wrapper">
    <tui-textfield iconStart="@tui.search" class="search-bar">
      <input [placeholder]="searchBarPlaceholder" tuiInput [(ngModel)]="searchQuery" />
    </tui-textfield>
    <div class="buttons">
      @if (authService.isAuthenticated()) {
        <button
          playerButton
          variant="secondary"
          class="profile-btn"
          size="small"
          (click)="onAuthToggle()"
        >
          A
        </button>
      } @else {
        <button playerButton size="small" (click)="onAuthToggle()">Login</button>
      }
    </div>
  </div>
</header>
