@use 'utils';
@use '@taiga-ui/styles/utils' as mix;

$link-size: 30px;

:host {
  position: absolute;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-white-10);
}

.header {
  display: flex;
  width: 100%;
}

.wrapper {
  container-name: header-wrapper;
  container-type: inline-size;
  display: flex;
  flex-grow: 1;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
}

.profile-btn {
  width: var(--button-height);
  padding: 0;

  font-weight: 500;
  color: var(--color-black);

  background-color: var(--color-accent);
  outline: 8px solid var(--color-white-10);
}

.buttons {
  display: flex;
  gap: 24px;
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $link-size;
  height: $link-size;
  border-radius: 50%;

  color: var(--color-white);
  text-decoration: none;

  &.active {
    background-color: var(--color-white-10);
  }
}

.search-bar {
  --tui-background-base: var(--color-white-10);

  @include mix.appearance-focus {
    &::before {
      color: var(--color-white);
    }
  }

  width: 30%;
}

@container header-wrapper (width < 1280px) {
  .search-bar {
    width: 70%;
  }
}

@container header-wrapper (width < 768px) {
  .search-bar {
    width: 90%;
  }
}
