@use 'utils/mixins' as mix;
@use 'utils/funcs' as *;
@use 'utils';

$loading-selector: '.loading';
$focused-selector: ':not(#{$loading-selector})';

@mixin hover-active {
  @include mix.hover($focused-selector) {
    color: var(--button-color-focus);
    background-color: var(--button-bg-focus);
  }

  &:active {
    color: var(--button-color-focus);
    background-color: var(--button-bg-focus);
  }
}

:host {
  $height: rem(46);

  --button-height: #{$height};
  --button-font-size: var(--text-m);
  --button-padding-side: var(--space-xl);
  --button-border-radius: var(--radius-full);
  --button-disabled-opacity: 0.6;
  --button-icon-size: var(--text-l);
  --button-icon-indent: var(--space-s);
  --button-spinner-size: var(--text-l);
  --button-color: var(--color-text);
  --button-color-focus: var(--color-text);
  --button-bg: transparent;
  --button-bg-focus: var(--color-border);

  @extend %button;

  position: relative;

  height: var(--button-height);
  padding: 0 var(--button-padding-side);
  border-radius: var(--button-border-radius);

  font-size: var(--button-font-size);

  @include mix.main-transition('background-color, color, border-color');

  &:disabled {
    @include mix.non-interactive {
      opacity: var(--button-disabled-opacity);
    }
  }

  &.base {
    color: var(--button-color);
    background-color: var(--button-bg);

    @include hover-active;
  }

  &.primary {
    --button-bg: var(--color-text);
    --button-color: var(--color-text-inverse);
    --button-bg-focus: var(--color-accent);
    --button-color-focus: var(--color-text);

    color: var(--button-color);
    background-color: var(--button-bg);

    @include hover-active;
  }

  &.secondary {
    --button-bg: var(--color-accent);
    --button-color: var(--color-text);
    --button-bg-focus: var(--color-text);
    --button-color-focus: var(--color-text-inverse);

    color: var(--button-color);
    background-color: var(--button-bg);

    @include hover-active;
  }

  .icon {
    height: var(--button-icon-size);
    margin-right: var(--button-icon-indent);
  }

  &.small {
    $height: rem(32);

    --button-height: #{$height};
    --button-font-size: var(--text-s);
    --button-padding-side: var(--space-l);
    --button-icon-size: var(--text-s);
    --button-spinner-size: var(--text-m);
    --button-icon-indent: var(--space-xs);
  }

  &#{$loading-selector} {
    pointer-events: none;
    color: transparent;

    .spinner {
      position: absolute;
      inset: 0;

      display: block;

      width: var(--button-spinner-size);
      margin: auto;
    }

    .icon {
      opacity: 0;
    }
  }

  &:has(.content:empty) {
    --button-padding-side: 0;

    aspect-ratio: 1;

    .icon {
      margin: 0;
    }
  }
}

.content:empty {
  display: none;
}
