%text-input {
  display: flex;
  align-items: center;

  padding: 10px 16px;
  border: unset;
  border-radius: var(--border-radius);

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);

  appearance: unset;
  background-color: var(--color-white-10);
  outline: none;
  box-shadow: 0 0 0 1px var(--color-white-20);

  &::placeholder {
    opacity: 0.6;
  }

  &:focus-visible,
  &:focus {
    box-shadow: 0 0 0 3px var(--color-white-20);
  }
}
