:host {
  display: flex;
  min-width: var(--wrapper-min-width);
  min-height: 100vh;

  .main {
    flex-grow: 1;
    padding: 20px;
    padding-top: calc(var(--header-height) + 20px);
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside {
  width: 15vw;
  min-width: 80px;
  max-width: 350px;
  min-height: 100vh;
  border-right: 1px solid var(--color-white-10);
}
