@use 'utils/mixins' as mix;
@use 'utils';

$loading-selector: '.loading';
$focused-selector: ':not(#{$loading-selector})';

.btn {
  --icon-size: 16px;
  --spinner-size: 20px;

  position: relative;

  .btn-spinner {
    display: none;
  }

  &.base {
    @extend %btn-base;

    @include mix.focused($focused-selector) {
      background-color: var(--color-border);
    }
  }

  &.primary {
    @extend %btn-primary;

    @include mix.focused($focused-selector) {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }

  &.secondary {
    @extend %btn-secondary;

    @include mix.focused($focused-selector) {
      color: var(--color-text-inverse);
      background-color: var(--color-text);
    }
  }

  & .btn-icon {
    aspect-ratio: 1;
    height: var(--icon-size);
    margin-right: 6px;
    fill: currentcolor;
  }

  &.small {
    --button-height: 34px;
    --button-font-size: 14px;
    --button-padding-side: 18px;
    --icon-size: 14px;
    --spinner-size: 18px;
  }

  &.btn-no-icon {
    .btn-icon {
      display: none;
    }
  }

  &.btn-no-text {
    --button-padding-side: 0;

    aspect-ratio: 1;

    .btn-icon {
      margin: 0;
    }
  }

  &#{$loading-selector} {
    pointer-events: none;
    color: transparent;

    .btn-spinner {
      position: absolute;
      inset: 0;

      display: block;

      width: var(--spinner-size);
      margin: auto;
    }

    .btn-icon {
      display: none;
    }
  }
}
