@let popular = sectionHeading.popular;
@let releases = sectionHeading.releases;
@let genres = sectionHeading.genres;

<player-carousel-section [title]="popular.title" [subtitle]="popular.subtitle">
  @for (track of popularTracks(); track track.id) {
    <div playerCarouselItem="carousel-item" [routerLink]="['/album', track.album.id]">
      <player-track-card [track]="track" />
    </div>
  }
</player-carousel-section>
<player-carousel-section [title]="releases.title" [subtitle]="releases.subtitle">
  @for (track of newReleaseTracks(); track track.id) {
    <div playerCarouselItem="carousel-item" [routerLink]="['/album', track.album.id]">
      <player-track-card [track]="track" />
    </div>
  }
</player-carousel-section>
<player-carousel-section class="carousel" [title]="genres.title" [subtitle]="genres.subtitle">
  <div class="genres-list">
    @for (genre of genresList; track genre) {
      <a playerCarouselItem="carousel-item genre" routerLink="/search" [queryParams]="{ genre }">
        {{ genre }}
      </a>
    }
  </div>
</player-carousel-section>
