@use 'utils/funcs' as *;

@mixin align-vertically($f: true) {
  @if $f == false {
    align-items: start;
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.genres-list {
  display: flex;
  gap: var(--space-2xl);
}

.carousel:has(.genres-list) {
  gap: var(--space-l);
}

.carousel-item {
  display: flex;
  flex-shrink: 0;
  width: var(--track-card-width-m);
  @include align-vertically(false);
}

.genre {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  width: rem(140);
  border: var(--border);
  border-radius: var(--radius-s);

  color: var(--color-text);
  text-decoration: none;
  text-transform: uppercase;
}

.releases {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-grow: 0;
  width: var(--track-card-width-m);
}
