@use 'modern-normalize';
@use './vars';
@use '../app/shared/directives/button/button';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-white);

  color-scheme: dark;
  background-color: var(--color-background);
}
