:root {
  --wrapper-min-width: 380px;
  --wrapper-max-width: 1440px;
  --color-violet: #4f378a;
  --color-violet-10: rgb(79 55 138 / 10%);
  --color-black: #1d1b20;
  --color-black-10: rgb(30 28 33 / 10%);
  --color-white: rgb(243 243 243);
  --color-white-10: rgb(243 243 243 / 10%);
  --color-white-20: rgb(243 243 243 / 20%);
}
