@use 'utils/mixins' as mix;
@use 'utils';

@mixin card-focus {
  background-color: var(--color-bg-focused);

  .duration {
    @include mix.hidden(false);
  }
}

@mixin always-show-duration-no-hover {
  @include mix.no-hover {
    .duration {
      @include mix.hidden(false);
    }
  }
}

@mixin hide-stats-no-hover {
  @include mix.no-hover {
    .duration,
    .plays {
      display: none;
    }
  }
}

:host {
  --color-bg-focused: var(--color-surface);

  user-select: none;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);

  &.playing {
    .duration {
      @include mix.hidden(false);
    }
  }

  @include mix.supports-hover {
    &:hover player-track-cover {
      --cover-hovered: 1;
    }
  }

  @include mix.main-transition('background-color');

  @include mix.hover {
    @include card-focus;
  }

  @include mix.focus-visible-within {
    @include card-focus;
  }
}

.desc {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: var(--padding-s);
}

.stats {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 6px;

  @include hide-stats-no-hover;
}

.duration,
.plays {
  width: fit-content;
  padding: var(--padding-xs) 6px;
  border-radius: var(--border-radius-s);

  font-size: 10px;
  line-height: 1;
  color: var(--color-text-muted);

  background-color: var(--color-surface-secondary);
}

.duration {
  color: var(--color-text-inverse);
  background-color: var(--color-text-subtle);

  @include mix.main-transition('visibility, opacity');
  @include mix.hidden;
}

.name,
.artist {
  @extend %link;

  width: fit-content;
  padding: var(--padding-xs);
  line-height: 1.2;
}

.name {
  text-transform: uppercase;

  @include mix.hover {
    color: var(--color-text);
    text-decoration: underline;
  }
  @include mix.focus-visible {
    color: var(--color-text);
    text-decoration: underline;
  }
}

.artist {
  color: var(--color-text-muted);

  @include mix.hover {
    color: var(--color-text);
  }
  @include mix.focus-visible {
    color: var(--color-text);
  }
}
