@use 'utils';
@use 'utils/funcs' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  width: 100%;
  max-width: rem(340);
  padding: var(--space-l);
  border: var(--border);
  border-radius: var(--radius-l);

  color: var(--color-white);

  background: var(--color-surface);

  &-photo {
    width: 100%;
    height: rem(220);
    border-radius: var(--radius-m);
    object-fit: cover;
  }

  &-role {
    color: var(--color-text-muted);
  }

  &-tracks {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    margin-top: var(--space-s);
    padding-top: var(--space-s);
    border-top: var(--border);
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    margin: 0 0 var(--space-s);
    padding: 0;
  }

  &-track {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    padding: var(--space-s);
    border: var(--border);
    border-radius: var(--radius-s);

    background: var(--color-surface-secondary);
  }

  &-link {
    @extend %link;

    margin-top: auto;
    text-align: end;
    text-decoration: none;
  }
}
