<aside class="aside">
  <div class="logo">LOGO</div>
  <div class="nav-wrapper">
    <nav class="nav">
      <a
        routerLink="/"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Home"
      >
        <player-sprite id="icon-home-smile" size="20px" />
        <span class="label">Discover</span>
      </a>
      <a
        routerLink="/about"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="About Us"
      >
        <player-sprite id="icon-about" size="20px" />
        <span class="label">About</span>
      </a>
      <a routerLink="/search" class="link" routerLinkActive="active" title="Search">
        <player-sprite id="icon-search" size="20px" />
        <span class="label">Search</span>
      </a>
      <a
        routerLink="/library"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [class.disabled]="!authService.isAuthenticated()"
        title="Library"
      >
        <player-sprite id="icon-library" size="20px" />
        <span class="label">Library</span>
      </a>
    </nav>
  </div>
  <ng-content></ng-content>
</aside>
