.about {
  &-title {
    margin-bottom: 3rem;
    font-size: 36px;
    text-align: center;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    margin-bottom: 4.5rem;
  }

  &-credits {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    margin-bottom: 3rem;

    font-size: 1.1rem;
  }

  &-logo {
    width: 70px;
  }
}
