@use 'utils/funcs' as *;
@use 'utils/mixins' as mix;

.playlist {
  padding: 0 var(--space-3xl);
}

.tracks-header-row {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--space-m);
  padding: var(--space-s) var(--space-m);
  border-bottom: 1px solid var(--color-border-subtle);

  .header-label {
    font-size: var(--text-s);
    font-weight: 700;
    color: var(--color-text-muted);
    letter-spacing: 1px;
  }

  .clock {
    width: rem(16);
    color: var(--color-text-muted);
  }
}

// FIXME: flex from track-row for cols
.track-left-side {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: rem(80);

  .track-index {
    width: rem(16);
    font-size: var(--text-s);
    color: var(--color-text-muted);
  }
}

.track-main-info {
  flex-grow: 1;
  min-width: 0;
}

.track-album,
.track-duration {
  color: var(--color-text-muted);
}

.track-album {
  font-size: var(--text-s);
}

.track-duration {
  font-size: var(--text-s);
}

.track-meta-slot {
  display: flex;
  align-items: center;
  width: rem(300);
  color: var(--color-text-muted);

  @include mix.mobile {
    display: none;
  }
}

.track-actions-slot {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  width: rem(100);
  padding-left: rem(10);
}

.track-remove {
  width: rem(30);
  border: none;
  color: var(--color-text-muted);
  background: none;

  &:hover {
    cursor: pointer;
    color: var(--color-text);
  }
}
