@use 'utils/funcs' as *;
@use 'utils/mixins' as mix;
@use 'utils/placeholders';

:host {
  // TODO: choose a more appropriate color
  // --playlist-color: var(--color-text-subtle);
  --playlist-color: var(--color-accent);

  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: 0 var(--space-xl);

  @include mix.tablet {
    padding: 0 var(--space-2xs);
  }

  @include mix.mobile {
    padding: 0 var(--space-2xs);
  }
}

.track-album {
  @extend %ellipsis;
  @media (width <= 710px) {
    display: none;
  }
}

.track-duration,
.track-remove {
  color: var(--color-text-muted);
  @media (width <= 425.9px) {
    font-size: var(--text-2xs);
  }
}

.track-remove {
  width: rem(30);
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
    color: var(--color-text);
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  align-items: center;

  padding: var(--space-s) 0;

  &-text {
    margin: 0 0 rem(10);
    font-size: 0.875rem;
    color: var(--color-text);
  }

  &-actions {
    display: flex;
    gap: var(--space-s);
    margin-top: var(--space-m);
  }

  &-delete {
    background-color: var(--color-error);
  }
}
