@if (playlistResource.isLoading()) {
  <p>Loading..</p>
}
@if (playlistResource.value(); as playlist) {
  <div class="playlist-header-container">
    <div class="playlist-header">
      <div class="playlist-cover-wrapper">
        <player-sprite icon="music" class="playlist-cover-icon" />
        <div class="cover-hover-overlay">
          <player-sprite icon="edit" class="edit-icon" />
          <span>Choose photo</span>
        </div>
      </div>
      <div class="playlist-metadata">
        <p class="playlist-type">Playlist</p>
        <h1 class="playlist-title" [title]="playlist.name">{{ playlist.name }}</h1>
        <p class="playlist-description">{{ playlist.description ?? '' }}</p>
        <div class="playlist-stats">
          <span class="playlist-displayname"> {{ displayName() }} </span>
          @if (playlist.trackIds?.length) {
            <span class="playlist-header-separator">•</span>
            <span class="playlist-tracks-count"> {{ playlist.trackIds.length }} songs, </span>
            <div class="playlist-total-time">
              <span> {{ totalTime() | durationText }} </span>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="palylist-header-actions">
    <button
      variant="primary"
      playerButton="playlist-header-play-btn"
      [icon]="isPlaying() ? 'pause' : 'play'"
      (click)="playPlaylist()"
      class="playlist-play-btn"
      aria-label="toggle playback"
    ></button>
    <player-playlist-menu
      (editClicked)="editPlaylistDetails()"
      (deleteClicked)="confirmDeletePlaylist()"
    />
  </div>
  <div class="track-list">
    @if (playlist.trackIds?.length) {
      <div class="tracks-header-row">
        <div class="track-left-side">
          <span class="track-index">#</span>
        </div>
        <div class="track-main-info">
          <span class="header-label">Title</span>
        </div>
        <div class="track-meta-slot">
          <span class="header-label">Album</span>
        </div>
        <div class="track-actions-slot">
          <span class="clock"><player-sprite icon="clock" /></span>
        </div>
      </div>
    }
    @for (track of tracksResource.value(); track track.id; let index = $index) {
      <player-track-row [index]="index" [track]="track">
        <span row-meta class="track-album">{{ track.album.name }}</span>
        <span row-actions class="track-duration">{{ track.duration | duration }}</span>
        <button row-actions class="track-remove" (click)="removeTrackById(track.id)">
          <player-sprite icon="close" />
        </button>
      </player-track-row>
    } @empty {
      <p>No tracks yet</p>
    }
  </div>
} @else if (!playlistResource.isLoading() && !playlistResource.value()) {
  <p>Playlist not found.</p>
}
<player-dialog [isOpen]="isModalOpen()" (closeDialog)="isModalOpen.set(false)">
  <div class="confirm">
    <p class="confirm-text">Delete from Your Library?</p>
    <button playerButton variant="primary" (click)="deletePlaylist()">Delete</button>
  </div>
</player-dialog>
