$transition-duration: 250ms;

@mixin main-transition($props: 'all') {
  transition-timing-function: ease;
  transition-duration: $transition-duration;
  transition-property: #{$props};
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
