@use './mixins' as *;

%wrapper {
  position: relative;

  overflow: hidden;

  min-width: var(--wrapper-min-width);
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
  padding: 0 16px;
}

%link-base {
  color: var(--color-accent);
  text-decoration: none;

  @include main-transition('color');
  @include hover {
    color: var(--color-orange);
  }
}

%btn-base {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  border-style: none;

  font-family: inherit;

  background-color: transparent;
}

%btn-primary {
  @extend %btn-base;

  height: 40px;
  padding: 16px;
  border: unset;
  border-radius: 8px;

  color: var(--color-white);

  background-color: var(--color-accent);

  @include main-transition('background-color');
  @include hover {
    background-color: var(--color-blue);
  }
}

%btn-secondary {
  @extend %btn-primary;

  border: 1px solid var(--color-accent);
  border-radius: 8px;
  color: var(--color-accent);
  background-color: transparent;

  @include main-transition('background-color, color');
  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}

%text-input {
  display: flex;
  align-items: center;

  padding: 10px;
  padding-left: 12px;
  border: unset;
  border-radius: 12px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);

  appearance: unset;
  background-color: var(--color-white);
  outline: none;
  box-shadow: 0 0 0 1px var(--color-gray);

  &::placeholder {
    opacity: 0.6;
  }

  &:focus-visible,
  &:focus {
    box-shadow: 0 0 0 3px var(--color-blue-light);
  }
}

%page-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  max-width: 400px;
  margin: auto;
  padding: 28px;
  border: 1px solid rgb(227 227 227);
  border-radius: 12px;

  background-color: var(--color-white);
}
