@use 'utils/vars' as *;
@use 'utils/mixins' as mix;
@use '@taiga-ui/styles/utils' as taiga;

$link-size: 30px;

:host {
  position: sticky;
  z-index: var(--header-z-index);
  top: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  padding: 0 18px;

  background-color: var(--tui-background-base);
}

.header {
  display: flex;
  width: 100%;
}

.wrapper {
  container-name: header-wrapper;
  container-type: inline-size;
  display: flex;
  flex-grow: 1;
  gap: 18px;
  align-items: center;
  justify-content: space-between;
}

.profile-btn {
  flex-shrink: 0;

  width: var(--button-height);
  padding: 0;

  font-weight: 500;
  color: var(--color-black);

  background-color: var(--color-accent);
  outline: 8px solid var(--color-white-10);
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  --tui-background-base: var(--color-white-10);

  width: 500px;

  @include taiga.appearance-focus {
    &::before {
      color: var(--color-white);
    }
  }
}

@container header-wrapper (width < #{$bp-tablet}) {
  .search-bar {
    width: 100%;
  }
}
