:host {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  text-transform: capitalize;
}

.subtitle {
  font-size: 12px;
  color: var(--color-text-muted);
}

.controls {
  display: flex;
}
