@use 'utils/funcs' as *;
@use 'utils';

$gap: rem(36);

:host {
  display: flex;
  flex-direction: column;
  gap: $gap;

  min-width: rem(250);
  max-width: rem(400);
  margin: auto;
  padding: $gap;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-l);

  background-color: var(--color-bg-secondary);

  .submit {
    width: rem(140);
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: $gap;
  width: 100%;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.toggle-password {
  aspect-ratio: 1;
  padding: 0;
}

.server-error {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  color: var(--color-error);

  .icon {
    width: 20px;
  }
}
